@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.service-card :hover {
  color: #fff;

  cursor: pointer;
}

.btn {
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.parent:hover {
  transition-delay: 0s;
  transition-duration: 1s;
  background: white;
  color: #08342e;
  cursor: pointer;
}
.parent:hover .titlee {
  color: #08342e;
}
.parent:hover .descriptionn {
  color: #08342e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.services-pagination {
  background-color: #22897c;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 115px;
}

.services-pagination .paginate-previous-link {
  margin-right: 5px;
}
.services-pagination .paginate-link {
  margin: 0px 5px;
}

.services-pagination .paginate-next-link {
  margin-left: 5px;
}
.paginate-active-link {
  font-weight: 800;
}
.selected {
  color: #fff;
  font-weight: 400;
}
.cus-our-blog {
  margin-top: 30px;
}
.cus-our-blog p {
  font-size: 17px;
  line-height: 30px;
  color: #08342e;
  font-weight: 400;
  margin-bottom: 14px;
}
.cus-our-blog h4 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 29px;
  color: #6F8EAD;
  font-weight: 500;
}
.cus-our-blog blockquote p:last-child{
  font-weight: 800;
}
.cus-our-blog ul li {
  font-size: 17px;
  line-height: 30px;
  color: #08342e;
  font-weight: 400;
  list-style: disc inside;
  padding-left: 20px;
}
.cus-our-blog li strong {
  font-size: 17px;
  line-height: 30px;
  color: #6F8EAD;
}

.cus-our-blog figure img {
  /* max-width: 350px;  */
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .cus-our-blog p img {
    /* max-width: 350px;  */
    float: right;
    padding-top: 50px;
  }
}
.cus-our-blog p img {
  /* max-width: 280px;  */
  margin: 0px auto;
}
.cus-our-blog p a {
  font-size: 17px;
  line-height: 30px;
  color: #cc3366;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.cus-our-blog p a:hover {
  color: #333366;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.cus-our-blog h5 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  color: #08342e;
  font-weight: 500;
}
.cus-our-survice-detail {
  background-color: #248f82;
  padding-top: 60px;
}
.cus-our-survices p {
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 14px;
}
.cus-our-survices ul {
  margin-bottom: 20px;
}
.cus-our-survices ul li {
  font-size: 17px;
  line-height: 30px;
  color: #ffff;
  font-weight: 400;
  list-style: disc inside;
  padding-left: 20px;
}
.cus-our-survices h2 {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}
.cus-our-survices  h4 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-weight: 600;
}
.cus-our-survices ol li {
  font-size: 17px;
  line-height: 30px;
  color: #ffff;
  font-weight: 400;
  list-style: num inside;
  padding-left: 20px;
}
.cus-our-survices h1 {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 12px;
}

.react-datepicker__input-container input {
  outline: none !important;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  top: 3px !important;
  border-bottom-color: white !important;
  left: -261px !important;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  top: 0;
  top: 3px !important;
  left: -261px !important;
}

.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::after {
  bottom: 3px !important;
  left: -261px !important;
  border-bottom-color: white !important;
}

.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before {
  bottom: 3px !important;
  left: -261px !important;
}

.react-datepicker-popper[data-placement^="top"] {
  padding-bottom: 0px !important;
  margin-bottom: -4px !important;
}

.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0px !important;
  margin-top: 2px !important;
}

.react-datepicker__header {
  background: white !important;
}

.react-datepicker__month-container {
  font-family: "Lato" !important;
  width: 308px !important;
}

.react-datepicker__current-month {
  font-family: inherit !important;
  font-weight: 300 !important;
  font-size: 135% !important;
  margin-left: 0.5ch !important;
  padding: 0 !important;
  line-height: 18px !important;
  color: rgb(147 147 147) !important;
  margin-top: 2px;
}

.react-datepicker__header {
  padding: 6.16px 0 !important;
  border-bottom: none !important ;
}

.react-datepicker__navigation--next {
  margin-top: 5px !important;
}

.react-datepicker__navigation--previous {
  margin-top: 5px !important;
}

.react-datepicker__day-name {
  font-size: 12.6px !important;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.react-datepicker__day-names {
  display: flex !important;
  justify-content: space-around !important;
}

.react-datepicker__day--selected {
  background: #569ff7 !important;
  line-height: 37px !important;
  border-radius: 100% !important;
}
.react-datepicker__day--selected:hover{
  background-color: #569ff7 !important;
}


.react-datepicker__day:hover {
  background: #e6e6e6 ;
  border-color: #e6e6e6 !important;
  border-radius: 100% !important;
}

.react-datepicker__month {
  margin: 0px !important;
}

.react-datepicker__week {
  display: flex !important;
  justify-content: space-around !important;
}

.react-datepicker__day {
  height: 37px !important;
  line-height: 37px !important;
  width: 37px !important;
}

.react-datepicker__day--keyboard-selected{
  background-color: #569ff7 !important;
  height: 37px !important;
  line-height: 37px !important;
  width: 37px !important;
  border-radius: 100% !important;
}